.register-step-card {
  min-width: 250px;
  max-width: 400px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;

 & .checkbox-error {
  font-size: 10.5px;
  padding: 0 1em;
 }

  & mat-form-field {
    width: 200px;
    margin-bottom: 12px;
  }
}


.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
